configuration {
	modi: "drun,window,run";
	width: 25;
	show-icons: true;
	lines: 12;
	fake-transparency: true;
	sidebar-mode: true;
	font: "hack 11";
	combi-modi: "window,drun,run";
	hide-scrollbar: true;

	color-window: "#222222, #222222, #b1b4b3";
	color-normal: "#222222, #b1b4b3, #222222, #005577, #b1b4b3";
	color-active: "#222222, #b1b4b3, #222222, #007763, #b1b4b3";
	color-urgent: "#222222, #b1b4b3, #222222, #77003d, #b1b4b3";
}

